.DS_Store
**/.DS_Store
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
/build
build/*/
**/build/*
/captures
.externalNativeBuild
.cxx
*.bin
package-lock.json